// Variable Color's
$background: #1a1b26;
$foreground: #a9b1d6;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "JetBrainsMono Nerd Font";
}

.eww_bar {
  background-color: $background;
  padding: 0.2rem;
  font-size: 2.0rem;
  border-radius: 0.4rem;
}

.works {
  padding: 0.2rem 0.8rem;
  background-color: $black;
  border-radius: 5px;
  font-size: 1.4rem;
}

.unweb,
.uncode,
.unterm,
.unfile,
.unimg,
.unmedia,
.unconf,
.unsns,
.ungame,
.unsteam,
.unwebweb,
.uncodecode,
.untermterm,
.unfilefile,
.unimgimg,
.unmediamedia,
.unconfconf,
.unsnssns,
.ungamegame,
.unsteamsteam {
  margin: 0.5rem 0;
}

.un {
  color: $gray;
}

.unweb,
.uncode,
.unterm,
.unfile,
.unimg,
.unmedia,
.unconf,
.unsns,
.ungame,
.unsteam {
  color: $gray;
}

.unwebweb,
.uncodecode,
.untermterm,
.unfilefile,
.unimgimg,
.unmediamedia,
.unconfconf,
.unsnssns,
.ungamegame,
.unsteamsteam {
  color: $foreground;
}

.power_menu {
  background-color: $background;
  font-size: 2em;
  padding: 2rem;
  border-radius: 0.5rem;
  color: $foreground;

  button {
    background-color: $background;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    animation: background .4s ease-in-out;

    &:hover {
      background-color: $black;
    }
  }
}

.dashboard {
  background-color: $background;
  color: $foreground;
  padding: 2rem;
}
